{% extends 'base.html' %}

{% block css %}
  {{ super() }}
    <link rel="stylesheet" href="static\home.css">
{% endblock %}

{% block title %}
    AvalancheGuard-Home
{% endblock %}

{% block content %}

<div class="container">
  <h1 class=" fst-italic fw-normal text-center mt-0  mb-2 animate__heartBeat" style="@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Roboto:ital,wght@1,100&display=swap');"> Avalanche Guard</h1>
  <div class="reveal">
     {% include 'image_slides.html' %}
  </div>
  <div class="reveal">
    

  <div class="card mt-4">
    <div class="waviy text-center mt-2 mb-0">
     <p>
        <span style="--i:0"><i class="bi bi-search"></i></span>
        <span style="--i:6"> </span>
        <span style="--i:6"> </span>
        <span style="--i:1">D</span>
        <span style="--i:2">e</span>
        <span style="--i:3">t</span>
        <span style="--i:4">e</span>
        <span style="--i:5">c</span>
        <span style="--i:6">t</span>
        <span style="--i:7"> </span>
        <span style="--i:7"> </span>
        <span style="--i:8"> </span>
        <span style="--i:9">H</span>
        <span style="--i:10">e</span>
        <span style="--i:11">r</span>
        <span style="--i:12">e</span>
        <span style="--i:13">!</span>

      </p>
    </div>

    <hr>
  

    <div class="card-body d-flex flex-column align-items-center justify-content-center">
      <!-- something -->
      <div class="row">
        <div class="col-6 custom-card">
            <div class="card card-clickable">
                <img src="static\obj-det3.jpg" alt="Detect avalanche victim from image" class="card-img-top" style="width: 475px; height: 328px;">
                <div class="card-body">
                    <h5 class="card-title">Detect Avalanche Victim from Image</h5>
                    <p class="card-text">
                        This will help in detecting victims trapped in avalanche from the satellite images received during the disaster.
                    </p>
                </div>

                <div class="form-container">
                    <form method="POST" enctype="multipart/form-data" class="hidden-form">
                        <input type="file" name="file" accept=".jpg, .png, .jpeg">
                        <input type="submit" value="Detect Avalanche Victims">
                    </form>

                    {% if detection_results %}
                    <h2>Detection Results:</h2>
                    <img src="{{ url_for('static', filename=image_path) }}" alt="Detected Image">

                    <!-- <img src="{{ image_path }}" width="400"><br> -->
                    <ul>
                    {% for result in detection_results %}
                    <li>{{ result }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="col-6 custom-card">
            <div class="card">
                <img src="static\obj-det4.jpg" alt="Detect avalanche victim from video" class="card-img-top" style="width: 475px; height: 328px;">
                <div class="card-body">
                    <h5 class="card-title">Detect Avalanche Victim from Video</h5>
                    <p class="card-text">
                        This will help in detecting victims trapped in avalanche from the satellite videos received during the disaster.
                    </p>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  

  <!-- <div class="reveal">
     <div class="text-center mt-4 mb-4 ">
        <h2 class="track animate__heartBeat mt-4">Live Location </h2>
        <hr>
     </div>
     <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-6">
           <img src="static\map.jpg" class="img-fluid" style="height: 360px;
           width: 100%;
           object-fit: cover;
           margin-bottom: 16px;">
        </div>

        <div class="col-md-6">
           <p class="lead">
              Live Location allows you to see the real-time location of your bus 
              on a map. This means you'll no longer have to wait at the bus stop 
              wondering when your bus will arrive or if you've missed it. With 
              Live Location, you'll have the power to track your bus and 
              plan your journey accordingly.<br>

              To use this feature, simply open Find My Bus. You'll see a live map of your 
              bus route with an icon representing the location of your bus. 
              As the bus moves along its route, the icon will update in real-time 
              to show you its exact location.
              It's our way of making your daily commute more efficient, convenient, and stress-free.<br></p>
            <p class="text-center"><a   href="/track" class="btn btn-dark px-4 col-md-4 text-center space" type="submit"> Track Here</a>
            </p>
        </div>


        
     </div>
  </div> -->

  <script src="static\home.js"></script>

{% endblock %}



<!-- <script>
  ScrollReveal().reveal('.track', {
     delay: 500
  });
</script> -->