<nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="/">My Website</a> -->
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="static/logos.jpg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
          Avalanche Guard
          </a>
        
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/home' %}active{% endif %}" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/track' %}active{% endif %}" href="/track">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/about' %}active{% endif %}" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/help' %}active{% endif %}" href="/help">Help</a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    
  </nav>
  <div style="height:80px"></div>
  
  <style>
    .navbar-nav .active {
    color: #000000;
    text-decoration: underline;
    
  }
  
  </style>